<!doctype html>
<html lang="RU">
<head>
    <title>Test-2</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" crossorigin="anonymous">
    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
        }
    </style>
</head>
<body>
    <template id="vue-cart">
        <transition name="fade">
        <div class="row mb-4" v-if="isDisplayed">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Наименование и описание товара</th>
                        <th scope="col" class="text-right">Количество, шт.</th>
                        <th scope="col" class="text-right">Цена, ₽/шт.</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in getGoods()">
                            <td>{{product.title}}</td>
                            <td class="text-right">{{product.amount}}</td>
                            <td class="text-right"><strong>{{getPrice(product.id)}}</strong></td>
                            <td class="text-right"><a href="#" class="button button-light" v-on:click.prevent="removeFromCart(product.id)"><i class="fa fa-times"></i> Удалить</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </transition>
    </template>
    <div class="container mt-5" id="app" data-goods="/data/data.json" data-names="/data/names.json">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-end mb-4">
                    <li class="nav-item">
                        1 USD = {{rateCurr}} RUB
                    </li>
                </ul>
            </div>
        </div>
        <vue-cart></vue-cart>
        <div class="row">
            <div class="col-6 mb-4" v-for="(group, key) in names" v-if="isGroupDisplayed(key)">
                <ul class="list-group">
                    <li class="list-group-item active">{{group.G}}, ID: {{key}}</li>

                    <li class="list-group-item" v-for="product in getGoods(key)">
                        <a href="#" class="btn btn-danger pull-right ml-3" v-on:click.prevent="addToCart(product.T, names[key].B[product.T].N)"><i class="fa fa-shopping-cart"></i></a>
                        {{names[key].B[product.T].N}}
                        <br><span class="badge badge-warning">{{product.P}} шт.</span>
                        <strong class="ml-1">{{priceRub(product.C, 1)}} ₽</strong>
                        <i class="fa fa-arrow-circle-up text-danger" aria-hidden="true" v-if="howToChangePrice(product.T) > 0"></i>
                        <i class="fa fa-arrow-circle-down text-success" aria-hidden="true" v-if="howToChangePrice(product.T) < 0"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="/assets/vendor/vue/dist/vue.js"></script>
    <script src="/assets/vendor/vuex/dist/vuex.js"></script>
    <script src="/assets/vendor/axios/dist/axios.js"></script>
    <script src="/assets/js/components/vue-axios.min.js"></script>
    <script src="/assets/js/store.js"></script>
    <script src="/assets/js/cart.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>